/* Setting the box-sizing to border-box and the padding and margin on all elements to 0 pixels. */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header element styling */
header {
    position: sticky;
    top: 0;
    background-color: yellow;
    border-bottom: 2px solid black;
}

/* main element styling*/
main {
    width: 80%;
    margin: 0 auto;
    background-color: lightblue;
}

/* footer element styling */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: lightgreen;
}

/* paragraph element styling */
p {
    padding: 1em;
}
